@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    overflow: hidden;
    margin: 2rem;
}

.image .picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image{
    position: relative;
}

.image::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(76, 0, 124, 0.6);    
}

.content{
   padding: 50px;
}

.title{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
    font-weight: 700;
    padding-bottom: 22px;
}

.title span{
    color: hsl(277, 64%, 61%);
}

.description{
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-family: 'Inter';
    line-height: 1.75;
    letter-spacing: 1.5px;
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top: 80px;
    padding-right: 40px;

}

.companies .val, .templates .val, .queries .val{
    font-family: 'Inter';
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 21px;
    padding-bottom: 5px;
}

.companies, .templates, .queries{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 10px;
}


@media only screen and (max-width:425px){
    body{
        text-align: center;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .image{
        order: -1;
    }

    .content{
        padding: 26px;
    }

    .title{
        font-size: 39px;

    }

    .description{
        font-size: 16px;
    }

    .stats{
        flex-direction: column;
        padding: 10px;
    }

    .stats div{
        margin-top: 20px;
        
    }


    
}